.logo {background:#5a5a5a; height:231px; margin:56px 0 0 0; text-align:center;}
.logo img {max-width:100%; height:auto;}
.container {margin-top:50px;}
.alerta {color:#721c24;display:block;}
#app {margin:20px;}